<p style="color: green"><%= notice %></p>

<h1>Kunden</h1>

<div id="customers">

  <div class="table-responsive small">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Anzahl Bestellungen (default)</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>
          <tr id="<%= dom_id customer %>">
            <td><%= customer.name %></td>
            <td><%= customer.number_orders %></td>
            <td class="text-end"><%= link_to "Anzeigen", customer %> |
            <%= link_to "Neuen Benutzer einladen", new_user_invitation_path(customer_id: customer.id) %> |
            <%= link_to "Bearbeiten", edit_customer_path(customer) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

<%= link_to "Neuen Kunden anlegen", new_customer_path, class: "btn btn-primary btn-sm" %>
</div>
