<p style="color: green"><%= notice %></p>

<%= render @customer %>

<div>
  <%= link_to "Bearbeiten", edit_customer_path(@customer) %> |
  <%= link_to "Zurück zur Übersicht", customers_path %>

  <%= button_to "Diesen Kunden löschen", @customer, method: :delete %>
</div>
