<p style="color: green"><%= notice %></p>
<%= link_to customers_path, class: "btn btn-secondary btn-sm mb-2" do %>
  <%= bootstrap_icon "arrow-left-short", class: "mb-1" %> Zurück zur Übersicht
<% end -%>
<%= render @customer %>

<div class="mt-2">
  <%= link_to "Bearbeiten", edit_customer_path(@customer), class: "btn btn-primary btn-sm" %>

</div>
