<div id="<%= dom_id user %>" class="card">
  <h5 class="card-header"><%= user.firstname %> <%= user.lastname %></h5>
  <div class="card-body">
    <h5 class="card-title">
      <% if user.customer.nil? %>Kein Kunde zugeordnet
      <% else %><%= user.customer.name %>
      <% end -%>
    </h5>
    <p class="card-text">
      <% if user.invitation_accepted_at.nil? %><span class="badge text-bg-warning">Eingeladen</span>
      <% else %><span class="badge text-bg-success">Aktiv</span>
      <% end -%>
    </p>
    <p class="card-text"><%= user.email %></p>
    <p class="card-text"><%= user.role %></p>
  </div>
</div>
