<!DOCTYPE html>
<html>
  <head>
    <title>BackendBootstrap</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "sign-in", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
<!--
    <header>
      <div class="px-3 py-2 text-bg-dark">
        <div class="container">
          <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
              <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
            </a>

            <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
              <li>
                <a href="#" class="nav-link text-secondary">
                  <div class="d-block mx-auto mb-1 text-center"><%= bootstrap_icon "house", width: 24, height: 24, fill: "white" %></div>
                  Home
                </a>
              </li>
              <li>
                <a href="#" class="nav-link text-white text-center">
                  <div class="d-block mx-auto mb-1"><%= bootstrap_icon "speedometer2", width: 24, height: 24, fill: "white" %></div>
                  Dashboard
                </a>
              </li>
              <li>
                <a href="#" class="nav-link text-white text-center">
                  <div class="d-block mx-auto mb-1"><%= bootstrap_icon "table", width: 24, height: 24, fill: "white" %></div>
                  Bestellungen
                </a>
              </li>
              <li>
                <%= link_to customers_path, class: "nav-link text-white" do %>
                    <div class="d-block mx-auto mb-1 text-center"><%= bootstrap_icon "person-circle", width: 24, height: 24, fill: "white" %></div>
                    Kunden
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="px-3 py-2 border-bottom mb-3">
        <div class="container d-flex flex-wrap justify-content-between">
          <div>
            <% if user_signed_in? %> 
              <div class="me-2"> <%= current_user.email %> </div> 
            <% end %>        
          </div>

          <div class="text-end">
            <% if user_signed_in? %> 
              <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-outline-primary me-2" %> 
            <% else %>
              <%= button_to "Sign in", new_user_session_path, class: "btn btn-outline-primary me-2" %> 
            <% end %>        
          </div>
        </div>
      </div>
    </header>
-->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">🦊</a>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarCollapse" style="">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <%= link_to "Dashboard", dashboard_path, class: ((controller_name == "dashboard")? "nav-link active" : "nav-link")  %>
            </li>
            <li class="nav-item">
              <%= link_to "Bestellungen", orders_path, class: ((controller_name == "orders")? "nav-link active" : "nav-link")  %>
            </li>
            <li class="nav-item">
              <%= link_to "Kunden", customers_path, class: ((controller_name == "customers")? "nav-link active" : "nav-link") %>
            </li>
          </ul>
          <% if user_signed_in? %> 
            <span class="text-white me-2"><%= current_user.email %></span><%= button_to "Abmelden", destroy_user_session_path, method: :delete, class: "btn btn-outline-primary me-2" %> 
          <% else %>
            <%= button_to "Anmelden", new_user_session_path, class: "btn btn-outline-primary me-2" %> 
          <% end %> 
        </div>
      </div>
    </nav>


    
    <div class="container">
<!--      
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
-->
      <%= yield %>
    </div>
  </body>
</html>
