<div id="<%= dom_id order %>">
  <p>
    <strong>Ordered at:</strong>
    <%= order.ordered_at %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= order.number %>
  </p>

  <p>
    <strong>Kunde:</strong>
    <%= order.customer_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= order.user_id %>
  </p>

</div>
